* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body,
html {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./netflix-fondo.jpg);
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
h1,h2{
  color: white;
  width: 100%;
  justify-self: flex-start;
}

input{
  color: white;
  margin-bottom: 10px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 2px solid white;
  height: 50px;
  padding:5px;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  transition: border-bottom 0.2s ease;
}
.aclass{
  color:grey;
  text-decoration: none;
}
.aclass:hover{
  color:grey;
}

input:focus {
  color:white;
  border-bottom: 3px solid #E50914;
  outline: none;
}
.App {
  border: solid;
}

.cursor {
  cursor: pointer;
}

button {
  font-size: 16px;
  width: 100%;
  border-radius: 5px;
  padding-top: 15px;
  filter: brightness(1);
  padding-bottom: 15px;
}
.footerLinks{
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap:10px;
}
@media(max-width: 500px){
  h1,h2{
    text-align: center;
  }
  .footerLinks{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
  }
}